---
title: "carbonOS"
layout: markdown
---

<div class="alert alert-warning" role="alert">
    This website is still heavily WIP. Many links will lead to 404s.
    If you'd like to contribute, please go <a href="https://gitlab.com/carbonOS/website">here.</a>
</div>

<h1 class="text-center">carbonOS</h1>
<h4 class="text-center">An open operating system designed from the ground-up to be intuitive and robust.</h4>

<div class="text-center">
    <div class="device mt-4 mb-4">
      <img src="assets/screenshot.png" alt="Screenshot" />
      <div class="keyboard"></div>
    </div>
</div>

<div class="text-center mb-4">
    <a class="btn btn-primary px-4" role="button" href="/download">
      <i class="fa fa-download" aria-hidden="true"></i>
      Download
    </a>
</div>

<div class="card-columns index">
    <div class="card">
        <!-- TODO: GIF of the features we're describing -->
        <div class="card-body">
            <h5 class="card-title">Intuitive</h5>
            <p class="card-text">carbonOS is designed to be minimal and
            intuitive. It gets out of your way and lets you focus on your work.
            Powerful features like system-wide search and the control center
            make it easy to accomplish quick tasks without opening any other
            apps. Features like "do not disturb" and the overview let you separate
            work and play.</p>
            <!-- TODO: <a href="/support/graphite" class="card-link">Learn More</a>-->
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Perfect Updates, Every Time</h5>
            <p class="card-text">Update your systems confidently! carbonOS's
            innovative design makes sure that updates are completely safe to
            install. In fact, updates happen in the background while you're
            working, and all it takes is a reboot to apply them. If something
            does somehow go wrong, carbonOS will automatically <em>undo</em>
            faulty updates! You can also undo updates manually if necessary.</p>
            <!-- TODO: <a href="/support/updates" class="card-link">Learn More</a>-->
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Keeping You Safe</h5>
            <p class="card-text">carbonOS takes great care to protect you and
            itself from potentially malicious programs. All system files are
            locked and read-only, making it difficult for anything to tamper
            with or hijack the OS.
            <!-- TODO: once we activate homed:
            All your data is always encrypted to keep it safe. -->
            <!-- TODO: Once we set up auto-backup:
            All your data is always encrypted and backed-up to protect you from
            ransomware and other attacks. -->
            <!-- TODO: once we have verity
            Every bit of code executed by the operating system is first verified
            to ensure that it hasn't been tampered with. -->
            Apps you install are kept isolated from each other, limiting the
            impact of any vulnerabilities or malware.</p>
            <!-- TODO: <a href="/support/verity" class="card-link">Learn More</a>-->
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Open Source</h5>
            <p class="card-text">carbonOS is an open source project, meaning
            that anyone can audit, improve, remix, and redistribute its code.
            This includes security researchers, curious users, or developers
            looking to extend the system. carbonOS is built on a strong and stable
            foundation of Free and Open Source software, and we provide the
            latest technologies the GNU/Linux stack has to offer.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Sponsors</h5>
            <p class="card-text">These kind organizations have made substantial
            contributions of hardware, server space, or other essential
            resources to the project. We use these donated resources to develop
            carbonOS and run all of our infrastructure.</p>
        </div>
        <div class="list-group list-group-flush">
          <a href="https://strnad.us.edu" target="_blank" class="list-group-item list-group-item-action">
            The Strnad Fellowship&nbsp;<i class="fa fa-external-link small d-inline" aria-hidden="true"></i>
          </a>
          <a href="https://fosshost.org" target="_blank" class="list-group-item list-group-item-action">
            Fosshost&nbsp;<i class="fa fa-external-link small d-inline" aria-hidden="true"></i>
          </a>
          <a href="https://about.gitlab.com/solutions/open-source/" target="_blank" class="list-group-item list-group-item-action">
            GitLab for Open Source&nbsp;<i class="fa fa-external-link small d-inline" aria-hidden="true"></i>
          </a>
        </div>
    </div>
</div>

